.DS_Store
es_ancora-ud-all.conllu
es_ancora-ud-dev.conllu
es_ancora-ud-test.conllu
es_ancora-ud-train.conllu
es_gsd-ud-all.conllu
es_gsd-ud-dev.conllu
es_gsd-ud-test.conllu
es_gsd-ud-train.conllu
es_pud-ud-test.conllu
*.conllu
*.swp
*.ipynb
__pycache__/*
script-stage.py
script-stage_modifie.py
.vscode/*
*.csv
